<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/home.css">
    <link rel="stylesheet" href="../assets/css/header.css">
    <link rel="stylesheet" href="../assets/css/banner-image.css">
    <title>Document</title>
</head>
<body onresize="changeSize()">
    <!-- header starts -->
    <header>
        <div id="first">

        </div>
        <div id="second">
            <div class="second"><a href="" class="redirection">Home</a></div>
            <div class="second"><a href="" class="redirection">About Us</a></div>
            <div class="second"><a href="" class="redirection">Courses</a></div>
            <div class="second"><a href="" class="redirection">Blog</a></div>
            <div class="second"><a href="" class="redirection">Career Path</a></div>
            <div class="second"><a href="" class="redirection">Contact Us</a></div>
            <div class="second"><a href="" class="redirection">Login</a></div>
            <div class="second"><input type="text" id="text-box" placeholder="Search"></div>
            <div class="second" id="search-icon">
                <img src="../images/magnifying-glass.png" alt="" width="30px" height="30px" id="search">
                <img src="../images/cross-icon.png" alt="" width="30px" height="30px" id="cut">
            </div>
        </div>
    </header>
    <!-- header ends -->
    <!-- banner image seciton starts -->
    <section id="banner">
    <!-- search anything starts -->
    <!-- search anything ends -->
    </section>
    <!-- banner image seciton ends -->
    <!-- tiles section starts -->
    <section id="tiles">

    </section>
    <!-- tiles section ends -->
    <!-- vision section starts -->
    <section id="vision">

    </section>
    <!-- footer starts -->
    <footer>

    </footer>
    <!-- footer ends -->
</body>
</html>
<script src="../assets/javascript/script.js"></script>
<script src="../assets/javascript/header-search.js"></script>